---
import '../styles/global.css';
import { Icon } from "astro-icon/components";
import ArchiveLayout from '../layouts/ArchiveLayout.astro';
import {UtilsArchive} from '../utils'
---

<ArchiveLayout>
    <div class="cont">
        <h1 class="about-heading">You found the archive. </h1>
      
        <div class="archive-grid">
            {UtilsArchive.map((item) => (
<article>
    <img src={item.img.src} alt="hashnode blog">
<div class="article-content">

                <a href={item.link}>{item.title}</a>
                <p>{item.content}</p>
                <a href={item.link}><Icon name="mdi:external-link"/></a>
    </div>
</article>
            ))}
        
    
        
       
        </div>
    </div>
</ArchiveLayout>

<style>
    .cont{
        margin-top: 1rem;
    }
    a{
        color: #333;
    }

    .cont h1{
        color: #1A1A1A;
        font-size: 16px;
        font-weight: 400;
    }
.archive-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
   

}

.archive-grid article img{
    width: 100%;
    height:200px;
border-top-right-radius:8px;
border-bottom-radius:8px;
    object-fit: cover;
}

article{
   
  border: 1px solid #e5e7eb; /* Tailwind's gray-200 */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction:column;
    align-items: center;
    
  
}

.article-content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 1rem;
    text-align:center;
}

.article-content p{
    
}
</style>