---
import '../styles/global.css';
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import hashnodeImg from "../assets/hashnode.png";
import devto from "../assets/devto.png";
import firstPortfolio from "../assets/first-portfolio.png"

const data = [
    {
        img: hashnodeImg,
        title: 'Hashnode blog',
        content: "79 draft and 20 articles later. I maintained this blog for nearly 4 years and I thought it would be my personal spot on the internet forever. The mere reason that you're here is proof that we all evolve, and so do our desires.",
        link: 'https://blossom.hashnode.dev/'
    },
    {
        img: devto,
        title: 'Dev.to blog',
        content: "79 draft and 20 articles later. I maintained this blog for nearly 4 years and I thought it would be my personal spot on the internet forever. The mere reason that you're here is proof that we all evolve, and so do our desires.",
        link: "https://dev.to/blossom"
    },
    {
        img: firstPortfolio,
        title: 'My first ever portfolio',
        content: "Hey, it got me my first internship at Voip55.",
        link: "https://blossom-babs.github.io/portfolio-two/"
    },
    {
        img: firstPortfolio,
        title: 'A contact card I found when I googled my name',
        content: "I no longer have access to this contact card so I cannot update any outdated information.",
        link: "https://linktr.ee/BlossomBabalola"
    },
]
---

<Layout>
    <div class="cont">
        <h1 class="about-heading">You found the archive. </h1>
      
        <div class="archive-grid">
            {data.map((item, index) => (
<article>
    <img src={item.img.src} alt="hashnode blog">
<div class="article-content">

                <a href={item.link}>{item.title}</a>
                <p>{item.content}</p>
                <a href={item.link}><Icon name="mdi:external-link"/></a>
    </div>
</article>
            ))}
        
    
        
       
        </div>
    </div>
</Layout>

<style>
    .cont{
        margin-top: 1rem;
    }

    .cont h1{
        color: #333333;
        font-size: 16px;
        font-weight: 400;
    }
.archive-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    width: 640px

}

.archive-grid article img{
    width: 100%;
    height:200px;
border-top-right-radius:8px;
border-bottom-radius:8px;
    object-fit: cover;
}

article{
   
  border: 1px solid #e5e7eb; /* Tailwind's gray-200 */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction:column;
    align-items: center;
  
}

.article-content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 1rem;
    text-align:center;
}

{/* background-color: #e0d7cd; 
  color: #232222;           
  padding: 0.3rem 0.75rem;
  border-radius: 999px;      
  font-size: 0.875rem;       
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05); */}
</style>