---
import '../styles/global.css';
import { Icon } from "astro-icon/components";
import ArchiveLayout from '../layouts/ArchiveLayout.astro';
import {UtilsArchive} from '../utils'
import Drawer from '../components/Drawer.astro';
---

<ArchiveLayout>
    <div class="cont">
        <h1 class="about-heading">You found the archive. </h1>
      
        <div class="archive-grid">
            {UtilsArchive.map((item) => (
<article>
    <img src={item.img.src} alt="hashnode blog">
<div class="article-content">

                <a href={item.link}>{item.title}</a>
                <p>{item.content}</p>
                <a href={item.link}><Icon name="mdi:external-link"/></a>
    </div>
</article>
            ))}
        
    
        
       
        </div>
    </div>
    <Drawer/>
</ArchiveLayout>

<style>
    .cont{
        margin-top: 1rem;
    }
    a{
        color: #333;
    }

    .cont h1{
        color: #1A1A1A;
        font-size: 16px;
        font-weight: 400;
    }

</style>