---
import { Icon } from "astro-icon/components";

const allPosts = Object.entries(import.meta.glob('../pages/posts/*.md', {eager: true})).map( ([path, post]) => {
   
    const slug = path
  .replace('../pages/posts/', '') // include trailing slash
  .replace('.md', '');
    return { ...(post || {}), slug }
}

)
const featuredPost = allPosts.filter((post:any) => post.frontmatter.featured && post.frontmatter.main)

const otherPosts = allPosts.filter((post:any) => post.frontmatter.featured && !post.frontmatter.main)


---

<div class="featured">
  
<article class="featured-main">
    {featuredPost.map((post:any) => (
        <a href={`/post/${post.slug}`}>
        <img src={post.frontmatter.image.url} alt={post.frontmatter.alt} srcset="">
        <p>{post.frontmatter.title} <Icon name="mdi:arrow-top-right"/> </p>
        </a>
    ))}

    <ul class="other-posts">
		{otherPosts.map((post:any) => (
			<li><a href={`/post/${post.slug}`}>{post.frontmatter.title}</a> <Icon name="mdi:arrow-top-right"/> </li>
		))}
	</ul>
</article>

</div>

<style>

    .other-posts{
		padding-top: 4rem;
		margin: 0;
		display: grid;
		gap: .8rem;

	}

.other-posts li a{
	color: #2b2b2b;

}

</style>